body{
    background-color: #f2fffc;
    font-family: "Crimson text", serif;
    font-size: 20px;
}

main h1{
    font-size: 60px;
    background-color: #781e3c;
    color: #fafffa;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin: 0;
}

h2{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    text-align: justify;
    margin: 20px 0;
}

blockquote{
    padding: 16px;
    background-color: #d3ddda;
    border: 10px solid #c2ccca;
    width: 200px;
    margin: 0;
    box-sizing: border-box;
}