body{
    background-color: #f2fffc;
    font-family: "Crimson text", serif;
    font-size: 20px;
}

main h1{
    font-size: 60px;
    background-color: #781e3c;
    color: #fafffa;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin: 0;
    text-transform: uppercase;
}

main a{
    color: #851944;
}

h2{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    text-align: justify;
    margin: 30px 0;
}

blockquote{
    padding: 16px;
    background-color: #d3ddda;
    border: 10px solid #c2ccca;
    width: 200px;
    margin: 0;
    box-sizing: border-box;
}

strong{
    font-weight: 600;
}

em{
    font-style: italic;
}

aside{
    background-color: #3c1d3d;
    color: #f2fffc;
    text-align: center;
    padding: 20px;
    font-family: "Open sans Condensed", sans-serif;
    
}

nav h1{
    color: inherit;
}

.redes-sociais li{
    display: inline-block;
}

.redes-sociais a{
    display: inline-block;
    width: 28px;
    height: 29px;
    text-indent: -99999px;
}

.github{
    background-image: url(/assencs/fluidicon.png);
}

.facebook{
    background-image: url(/assencs/face.png);
}

footer{
    background-color: #000;
    color: #f2fffc;
    padding: 20px;
    text-align: center  ;
}

